body{
  background-image: url('../images/sky.png');

}


#button{
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.header{
  display: flex;
  justify-content: center;
  
}


#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #9DA400, #BAC600);
  color: black;
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 5px;
}

#game-container{
  display: flex;
 
}

#title{
  padding-right: 60px;
  padding-left: 30px;
  content: url('../images/title.png')
}

#game-board {
 
  background-image: url('../images/background.png');

 
  
}

#canvas {
  text-align: center;
  
   
}

